<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/uniqlo</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">26102003</property>
    <!--    <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
    <!-- DB schema will be updated if needed -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <mapping class="com.example.demo.model.Users"/>
    <mapping class="com.example.demo.model.Product"/>
    <mapping class="com.example.demo.model.ParentCategory"/>
    <mapping class="com.example.demo.model.Category"/>
    <mapping class="com.example.demo.model.Adress"/>
    <mapping class="com.example.demo.model.Review"/>
    <mapping class="com.example.demo.model.Orders"/>
    <mapping class="com.example.demo.model.Color"/>
    <mapping class="com.example.demo.model.CartItem"/>

  </session-factory>
</hibernate-configuration>