html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.navbar-brand{
    width: 8%;
}

.navbar-brand img{
    width: 100%;
}


.swiper {
  width: 100%;
  height: calc(100% - 104px);
  overflow: hidden;
}

.swiper2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  --swiper-pagination-right: auto;
  --swiper-pagination-left: 8px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-color: #fff;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
  top:80%;  
}
/* Cần fix pagination và navigation của horizontal slide */

.dropdown-menu {
  left : -18px;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.contained{
  width: 100%;
  display: block;
  padding:20px;
}

.content-card{
  width:100%;
}

.notifi{
  padding: 60px;
  display: block;
  border: #333 solid 1px;
  border-radius: 2px;
}

.notifi:hover{
  opacity: 0.7;
}

.notifi-text a{
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.notifi-title{
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.swiper3 {
  width: 100%;
  height: 100%;
}


.content-card a:hover{
  opacity: 0.6;
}

.info-text {
 text-decoration:none;
 color:#101010;
 font-size: 16px;
}

.header-search {
  display:block;

}

.form-link:hover{
  opacity: 0.6;
}

.sticky-ontop{
  position: sticky;
  top: 0;
  z-index: 999;
}

.hidden{
  display: none;
}

#header {
  position: relative;
}

#search-bar {
  position: absolute;
  justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background-color: #ffffff;

}

#search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#search-btn {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#close-btn {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.no-dot{
  padding-left: 0px;
}

.no-dot li {
  list-style-type: none;
  margin: 5px 0px;
}

.card-content{
  margin: 8px 0px;
  border-radius: 0px;
  border: none;
}

.sale-price{
  color: #f34747;
  font-size: 20px;
  font-weight: 700;
}


.old-price{
  text-decoration: line-through;
  color: #000;
  font-weight: 700;
}


